* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navbar */
.navbar {
    background-color: #FAEBEB;
}

.link-navbar {
    color: #9B6093;
    text-decoration: none;
    padding-left: 35px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 23px;
    font-weight: bold;
}

.link-navbar:hover{
    color: #9d7f99;
}

.titolo{
    font-family: 'Amatic SC', sans-serif;
    color: #9B6093;
    font-weight: bold;
}
/* immagine hero */
.bgimage {
    height: 100vh;
    background: url(images/hero1.jpg) no-repeat center center;
    position: relative;
    background-size: cover;
    margin-top: 80px;
}

/* testo hero */
.hero_title{
    font-size: 8rem;
    color: #fff;
    
}

.hero_sub {
    font-size: 2rem;
}

.hero_text {
    text-align: end;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
/* Informazioni*/
.fab{
    color: #000000;
}

.fab:hover{
    color: green;
}
.social-icons {
    font-size: 36px;
}

/* sezione servizi*/
.img-servizi {
    width: 100%;
    height: 300px;
    /* filter: blur(0.5px); */
}

.rounded {
    border-radius: 10px;
}

.card-text{
    font-size: 1.3rem;
    min-height: 100px;
}

.service-icons{
    font-size: 70px;
}

.icone-servizi{
    transition: transform 1000ms
}

.icone-servizi:hover{
    color: rgb(250, 170, 83);
    transform: scale(1.1);
    cursor: pointer;
}
/* Carosello */
#carouselCaptions{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.immagineCarosello{
    width: 900px;
    height: 500px;
}


